@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow: visible;
	margin: 0;
	padding: 0;
	background-color: #21262d;
	background-size: cover;
}

header {
	height: 8em;
	width: auto;
	background-color: black;
}

.content {
	z-index: 1;
	position: absolute;
	top: 0px;
	display: flex;
	align-items: left;
}

.content h1 {
	color: white;
	font: 36px sans-serif;
	font-weight: bold;
	margin: auto 1em;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	padding: 0;
}

#active {
	background-color: #b26910;
}

.projectCardLinks {
	@apply border border-white border-solid w-10 h-10 rounded-2xl flex justify-center items-center hover:border-projectCardLinkHover hover:text-projectCardLinkHover after:content-[attr(data-tooltip)] after:absolute after:-translate-y-full after:bottom-3 after:bg-projectCardLinkHover after:text-projectCardBg after:p-1 after:rounded after:hidden hover:after:block  before:border-8 before:border-transparent before:border-solid before:border-t-projectCardLinkHover before:absolute before:-translate-y-full before:bottom-4 before:hidden hover:before:block before:transition-all after:transition-all;
}
