body {
	margin: 0px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: #66fcf1;
	background-color: #0b0c10;
}

#top-container {
	padding: 15px 0 15px;
}

#middle-container {
	padding: 50px 0 10px;
	height: 700px;
	background-color: #1f2833;
}

#bottom-container {
	padding: 50px 0 10px;
}

.footer-link {
	margin: 10px 20px;
	text-decoration: none;
}

.copyright {
	padding: 25px;
}
