.news-title {
	text-decoration: underline;
	font-size: 3rem;
	color: white;
	margin-left: calc(50vw - 423px);
}

.no-news-title {
	text-align: center;
	font-size: 3rem;
	color: white;
}

.carousel-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: black;
}

@media only screen and (max-width: 1139px) {
	.news-title {
		margin-left: 14vw;
		color: white;
	}
}

@media only screen and (max-width: 960px) {
	.news-title {
		margin-left: 7vw;
	}
}
