/* <nav> */
.navbar {
	background-color: #ff9617;
	color: white;
	padding-left: 1rem;
	height: 60px;
	border-bottom: 1px solid #ff9617;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	position: relative;
}

/* Navbar Brand */
/* <div> */
.navbar-brand {
	float: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	max-width: 300px;
}

/* On debugging: increase size will increase padding top */
.navbar-brand h1 {
	color: #212121;
	font-size: 24px;
}

/* <Link> */
.navbar-img-link {
	margin: 0;
}

/* <img> */
.navbar-brand-img {
	width: 40px;
	height: 40px;
	margin: 0.2rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-image-radius: 50%;
}
/* End of Navbar Brand */

/* Navbar Components */
/* <ul> */
.navbar-nav {
	max-width: 100%;
	height: 100%;
}
.navbar-nav ul {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	margin-right: 10%;
	padding: 0px;
}

/* responsive navbar */

.nav-responsive {
	background-color: black;
	min-height: 100vh;
	z-index: 10;
	padding-top: 80px;
}
.nav-responsive-lists {
	flex-direction: column !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
}
.nav-responsive-link {
	color: white !important;
}
.nav-responsive-nav-item {
	margin-bottom: 100px !important;
}

/* <li> */
.navbar-item {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

/* <Link> */
.navbar-link {
	color: #212121;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	padding: 1.1rem;
	margin: 10px;
}

/* <Link> */
.navbar-link:hover {
	color: #fff;
	background-color: rgb(190, 114, 0);
	transition: 0.3s background-color ease-out;
	border-radius: 4px;
}

/* <div> dropdown box */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	margin: 10px;
	margin-top: 16px;
	width: 157px;
	min-width: 8rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-top: 5px solid rgb(190, 114, 0);
	transform: translateY(28px);
	margin-left: 0;
}

/* <Link> */
.dropdown-link {
	color: #212121;
	font-size: 18px;
	padding: 0.5rem 0.5rem;
	text-decoration: none;
	display: block;
}

/* <Link> */
.dropdown-link:hover {
	color: #fff;
	background-color: #535353;
	transition: all 0.3s ease-out;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/* End of Navbar Component Section */

.nav-toggle-icons {
	cursor: pointer;
	position: absolute;
	right: 4%;
	z-index: 20;
}

.dropdown:hover .dropdown-content + .navbar-link,
.navbar-link:hover {
	color: #fff;
	background-color: rgb(190, 114, 0);
	transition: 0.3s background-color ease-out;
	border-radius: 4px;
}

#home-navbar-link {
	padding-left: 31px;
	padding-right: 31px;
	margin: 0;
}

#activity-navbar-link {
	padding-left: 22px;
	padding-right: 24px;
	margin: 0;
}

#resources-navbar-link {
	padding-left: 22px;
	padding-right: 22px;
	margin-left: 0;
}
