.events-container {
	overflow: auto;
	margin: auto;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

/* Header */
.events-header {
	display: flex;
	margin: 0.5rem auto;
	padding: 0.5rem;
	max-width: 500px;
	width: 100%;
	text-align: center;
}

.events-header h1 {
	width: 100%;
	object-fit: contain;
	font-size: 36px;
	padding: 0.5rem;
	color: white;
	background-color: #21262d;
	border-radius: 20px;
	border: 4px solid rgb(255, 165, 0);
	box-shadow: 0 10px 10px 0px rgba(255, 165, 0, 0.6);
}

/* Events List */
.events-list {
	overflow: auto;
	margin: auto;
	width: 90%;
	justify-content: center;
}

.event {
	display: inline-flexbox;
	max-width: 800px;
	width: 90%;
	padding: 5px;
	margin: 20px auto 40px auto;
	height: auto;
	border: 0;
	border-radius: 15px;
	box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.8);
	background-color: #3a414a;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.event:hover {
	transform: translateY(-15px);
	box-shadow: 0px 20px 15px 0px rgb(0, 0, 0, 0.5);
}

.event-header {
	margin: auto 0.5rem;
	padding: 0.5rem;
}

/* date */
.event-date {
	display: inline-block;
	margin: 0.5rem;
	height: 80px;
	width: 80px;
	vertical-align: top;
	text-align: center;
	color: white;
	font-weight: normal;
	background-color: #21262d;
	border: 2px solid rgb(56, 142, 60);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(56, 142, 60, 0.6);
}

.event-date p {
	margin: auto;
}

.event-date #month {
	padding: 5px;
	font-size: 20px;
}

.event-date #day {
	font-size: 36px;
}

/* Important info */
.event-info {
	margin: 0.5rem;
	padding: 0 0.5rem;
	max-width: 500px;
	width: 90%;
	display: inline-block;
	min-height: 80px;
	text-align: left;
}

.event-info #title {
	margin: 0.5rem 0 1rem 0;
	padding: 0;
	color: white;
	font-size: 2.5vh;
	font-size-adjust: inherit;
	font-weight: bold;
}

.event-info #important {
	display: inline-block;
	margin: 5px 10px;
	padding: 3px 10px;
	font-size: 16px;
	color: black;
	border-radius: 5px;
	background-color: white;
}

/* Expand button */
.expand-button {
	margin: 0.5rem;
	display: inline-flex;
	height: 84px;
	width: 84px;
	justify-content: center;
	vertical-align: top;
}

.expand-button button {
	margin: auto;
	width: 48px;
	height: 48px;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	background-color: #21262d;
}

/* Expand content */
.event-expand {
	margin: 0.5rem 1.5rem 2rem 1.5rem;
	padding: 1.5rem;
	font-size: 18px;
	color: white;
	background-color: #21262d;
	border-radius: 10px;
	transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.event-expand .details {
	padding: 0.5rem 1rem;
}

#meeting-link {
	text-decoration: none;
	color: #2d8cff;
}

.poster-list {
	display: inline-flex;
	flex-direction: row;
	margin: auto 10px;
}

.poster-img {
	width: 150px;
	height: 150px;
	margin: auto 10px;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.poster-img:hover {
	opacity: 0.5;
	transition: all 0.3s ease-in-out;
}

.poster-img:active {
	background-color: white;
}

/* Responsive feature*/
@media only screen and (max-width: 700px) {
	.event-info {
		margin-left: 0px;
		margin-right: 20px;
	}
	.event-info #title {
		background-color: #21262d;
	}
}
