.inner-slider {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inner-slider .left-slider {
	flex: 1%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: white;
	background-color: #21262d;
	z-index: 20;
}

.inner-slider .center-slider {
	flex: 40%;
	height: 100%;
	max-width: 890px;
	min-width: 890px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: #21262d;
	box-sizing: border-box;
	border: 1px solid green;
}
/*min-width: 990px;*/

.inner-slider .transition-center-slider {
	flex: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	background-color: #21262d;
	border: 1px solid green;
	min-width: 890px;
	max-width: 890px;
}
/*min-width: 990px;*/
.inner-slider .transition-right-center-slider {
	flex: 40%;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	box-sizing: border-box;
	background-color: #21262d;
	border: 1px solid green;
	min-width: 890px;
	max-width: 890px;
}
/*min-width: 990px;*/
/*
.card-0, .card-1, .card-2 {
    width: 33%;
    margin: auto;
    position: absolute;
    animation-name: sliding;
    animation-duration: 2s;
}

@keyframes sliding {
    0%   {background-color:blue; left:0px;}
    100% {background-color:blue; left:500px;}
}
*/

.inner-slider .right-slider {
	flex: 1%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: white;
	background-color: #21262d;
	z-index: 20;
}

.forward-arrow {
	margin-left: 0.5vw;
	cursor: pointer;
	z-index: 1;
}

.back-arrow {
	margin-right: 0.5vw;
	cursor: pointer;
	z-index: 1;
}

.forward-arrow-inactive {
	margin-left: 0.5vw;
	color: rgba(255, 255, 255, 0.1);
	z-index: 1;
}

.back-arrow-inactive {
	margin-right: 0.5vw;
	color: rgba(255, 255, 255, 0.1);
	z-index: 1;
}

@media only screen and (max-width: 1139px) {
	.inner-slider .center-slider {
		max-width: 596px;
		min-width: 596px;
	}

	.inner-slider .transition-center-slider {
		max-width: 596px;
		min-width: 596px;
	}

	.inner-slider .transition-right-center-slider {
		max-width: 596px;
		min-width: 596px;
	}
}

@media only screen and (max-width: 660px) {
	.inner-slider .center-slider {
		min-width: 307px;
		max-width: 307px;
	}

	.inner-slider .transition-center-slider {
		min-width: 307px;
		max-width: 307px;
	}

	.inner-slider .transition-right-center-slider {
		min-width: 307px;
		max-width: 307px;
	}
}
