
@import '../node_modules/bootstrap/scss/bootstrap.scss';
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #212121;
}


$primary: #ff9617;
$secondary: #b3b3b3;
$dark: #212121;
$black: #121212;




