.navbar {
	@apply flex;
}

.nav-links {
	@apply flex float-right w-full h-full items-center justify-end;
}

.nav-link {
	@apply flex items-center justify-center min-w-[120px] 
    h-full text-xl text-white font-semibold border-transparent border-2
     group-hover:text-orange  group-hover:border-2
     group-hover:border-orange 
     duration-200 ease-in-out;
}

.nav-dropdown {
	@apply absolute hidden z-20 bg-gray-med 
    group-hover:block shadow-lg shadow-black;
}

.nav-dropdown ul {
	@apply flex flex-col items-center min-w-[120px] 
    w-auto py-2 drop-shadow;
}

.nav-dropdown li {
	@apply w-full px-3 text-center  text-lg  text-white 
    hover:text-black hover:bg-orange font-semibold py-2 duration-200;
}

.nav-dropdown hr {
	@apply w-full text-gray-mild;
}

.nav-mobile {
	@apply absolute inset-y-0 -right-60 z-20 px-4 py-4 w-60
     bg-gray-dark/90 h-screen;
}

.nav-mobile-btn-wrapper {
	@apply w-full flex justify-end;
}

.nav-mobile-btn {
	@apply w-9 h-9 border-2 border-orange  text-orange
     hover:text-black hover:bg-orange  duration-200;
}

.nav-mobile-links {
	@apply py-2;
}

.nav-mobile-links ul {
	@apply pt-2 h-full  list-disc list-inside;
}

.nav-mobile-links li {
	@apply h-8 text-lg px-6 my-1
    text-smoke font-medium
    hover:text-black hover:bg-orange 
    duration-200;
}

.nav-mobile-link {
	@apply w-full h-8 px-4  flex items-center text-xl
    text-white font-medium border-b-2
    border-orange hover:text-black hover:bg-orange duration-200;
}
